{% extends 'base.html' %}

{% block content %}
<h2>Actualizar Estado del Pedido #{{ pedido.idPedido }}</h2>
<form method="POST" style="background-color: #859575; opacity: 90%; border-radius: 15px; padding: 10px;">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.estado.label(class="form-control-label") }}
        {{ form.estado(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('ver_pedidos') }}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
{% endblock %}
