{% extends 'base.html' %}

{% block content %}
<h2>Tomar Pedido</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.idCamionero.label(class="form-control-label") }}
        {{ form.idCamionero(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.idCliente.label(class="form-control-label") }}
        {{ form.idCliente(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.fechaEntrega.label(class="form-control-label") }}
        {{ form.fechaEntrega(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.peso.label(class="form-control-label") }}
        {{ form.peso(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
