{% extends 'base.html' %}

{% block content %}
<h2>Estado de los Pedidos</h2>
<table class="table table-bordered" style="background-color: white;opacity: 90%;">
    <thead>
        <tr>
            <th>ID <br> Pedido</th>
            <th>Camionero</th>
            <th>Cliente</th>
            <th>Fecha <br> Registro</th>
            <th>Fecha <br> Entrega</th>
            <th>Estado</th>
            <th>Palets</th>
            <th>Palets <br> Dañados</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.idPedido }}</td>
            <td>{{ pedido.camionero.nombreCompleto }}</td>
            <td>{{ pedido.cliente.nombre }} {{ pedido.cliente.apellido }}</td>
            <td>{{ pedido.fechaRegistro.strftime('%Y-%m-%d') }}</td>
            <td>{{ pedido.fechaEntrega.strftime('%Y-%m-%d') }}</td>
            <td>{{ pedido.estado }}</td>
            <td>{{ pedido.cantPalets }}</td>
            <td>{{ pedido.paletsDañados }}</td>
            <td><a href="{{ url_for('actualizar_estado', idPedido=pedido.idPedido) }}" class="btn btn-sm btn-warning">Actualizar</a>  <a href="{{ url_for('reportar_pedido', idPedido=pedido.idPedido) }}" class="btn btn-sm btn-warning" style="background-color: rgb(230, 64, 64) !important;">Reportar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<style>
    .table th {
        text-align: center;
        align-content: center;
    }
</style>
{% endblock %}
